---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import { getCollection } from "astro:content";
import Blog from "@components/Blog.astro";
import { Image } from "astro:assets";
import penrithHero from "../assets/heros/image_1.AVIF";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const imageAlt = "Penrith Education";
---


<Layout>
  <head>
    <link rel="preload" as="image" href={penrithHero.src} />
  </head>
  <section class="text-center">
    <div class="grid place-items-center">
      <Header title="Penrith Education" />
      <p class="mt-3 max-w-prose leading-relaxed">
        A collaborative hub for all things education.<br />
        <!-- By pre-hospital clinicians, for pre-hospital clinicians. -->
      </p>
    </div>
   
  </section>
  
  <Image
  src={penrithHero}
  alt={imageAlt}
  loading="eager"
  class="rounded-lg mt-6" 
  widths={[400, 800, 1200]}
  sizes="(max-width: 800px) 100vw, 1200px"
  
/>

  <section>
    <h2 class="mt-12 text-2xl font-semibold dark:text-zinc-100 text-zinc-900">
      Recent Posts
    </h2>
    <ul class="mt-6 grid grid-cols-1">
      {posts.slice(0, 3).map((post) => <Blog {...post} />)}
    </ul>
    <a
      class="inline-block mt-7 dark:hover:text-zinc-50 hover:text-zinc-400 transition-colors"
      href="/blog/">View all posts &rarr;</a
    >
  </section>

  <style>
    .email-link {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid;
      border-color: inherit;
    }

    .email-link:hover {
      border-color: rgb(96, 206, 110);
      color: rgb(96, 206, 110);
      text-decoration: none;

    }
  </style>
</Layout>
